<header>
  <div class="logo-container">
    <img src="assets/icons/exceed_logo.png" alt="exceed_logo" class="logo-image">
    <p class="title">Exceed review</p>
  </div>
  <div class="menu">
    <ul class="menu-list">
      <li>NEWS</li>
      <li>USERS</li>
      <li>REPOSITORIES</li>
      <li>COMMENTS</li>
    </ul>
  </div>
  <div class="profile">
    <img src="assets/icons/profile-image.svg" alt="profile_image" class="profile-avatar">
    <p class="profile-name">Kirill</p>
  </div>
</header>
